{% load static %}
{% load cache %}
<!DOCTYPE html>
<html lang="ru-ru">
<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
	<meta content="Skypro Python Developer 3.0 Course, module 6: Django" name="description">
	<meta content="Viktor A Orlov" name="author">
	<link href="{% static 'img/favicon.ico' %}" rel="icon">

	<title>{{ title }} -- {{ description }}</title>

	<!-- Bootstrap core CSS ------------------------------------------------------------------------------------------->
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

	<!-- Custom styles for this template ------------------------------------------------------------------------------>
	<link href="{% static 'css/album.css' %}" rel="stylesheet">
</head>

<body>

{% cache 0 'header' %}
	<header>
		{% include 'mailing/includes/navbar.html' %}
	</header>
{% endcache %}

<div class="container mt-4">
	<div class="row">
		<div class="col-md-8">
			<div class="h4 text-center">Статистика рассылок</div>
			<ul class="list-group">
				<li class="list-group-item">Количество рассылок всего: {{ count_mailings_all }}</li>
				<li class="list-group-item">Количество активных рассылок: {{ count_mailings_active }}</li>
				<li class="list-group-item">Количество уникальных клиентов для рассылок: {{ count_clients }}</li>
			</ul>
		</div>
		<div class="col-md-4">
			<div class="h4 text-center">Статьи из блога</div>
			<ul class="list-group">
				<li class="list-group-item">Статья 1: <a
						href="{% url 'blog:READ_one' blog_1.pk %}">{{ blog_1.title }}</a></li>
				<li class="list-group-item">Статья 2: <a
						href="{% url 'blog:READ_one' blog_2.pk %}">{{ blog_2.title }}</a></li>
				<li class="list-group-item">Статья 3: <a
						href="{% url 'blog:READ_one' blog_3.pk %}">{{ blog_3.title }}</a></li>
			</ul>
		</div>
	</div>
	<div class="row"><br></div>
	<div class="row">
		{% block content %}
		{% endblock %}
	</div>
</div>

{% cache 0 'footer' %}
	<footer class="text-muted">
		{% include 'mailing/includes/footer.html' %}
	</footer>
{% endcache %}

<!-- Bootstrap core JavaScript ---------------------------------------------------------------------------------------->
<!-- Placed at the end of the document so the pages load faster ------------------------------------------------------->
<script crossorigin="anonymous"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>

<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'js/holder.min.js' %}"></script>

</body>
</html>
