{% extends 'mailing/base.html' %}

{% block content %}
	<div class="col-8">
		<a href="{% url 'mailing:clients_create' %}" class="btn btn-primary float-end">
			Создать клиента
		</a>
	</div>
	<div class="col-8"><p></p></div>
	<div class="col-8">
		<div class="row">
			{% for item in object_list %}
				<div class="col-6">
					<div class="card">
						<div class="card-header text-center badge-primary">Клиент #{{ item.pk }} {{ item.email }}</div>
						<div class="card-body">
							<table class="table">
								<tr>
									<td>Почта</td>
									<td>{{ item.email }}</td>
								</tr>
								<tr>
									<td>Имя</td>
									<td>{{ item.first_name }}</td>
								</tr>
								<tr>
									<td>Фамилия</td>
									<td>{{ item.last_name }}</td>
								</tr>
								<tr>
									<td>Заблокирован</td>
									<td>{{ item.is_blocked }}</td>
								</tr>

							</table>
						</div>
						<div class="card-footer">
							<a href="{% url 'mailing:clients_update' item.pk %}" class="btn badge-info">Изменить</a>
							{% if item.is_blocked %}
								<a href="{% url 'mailing:client__is_blocked_toggle' item.pk %}" class="btn badge-success">unblock</a>
							{% else %}
								<a href="{% url 'mailing:client__is_blocked_toggle' item.pk %}" class="btn badge-warning">block</a>
							{% endif %}
							<a href="{% url 'mailing:clients_delete' item.pk %}" class="btn badge-danger">Удалить</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
