{% extends 'mailing/base.html' %}

{% block content %}
	<div class="col-4">
		<div class="card">
			<div class="card-header font-weight-bold h5 text-center badge-primary">
				Удалить группу клиентов
			</div>
			<div class="card-body">
				<form method="post">
					{% csrf_token %}
					Уверены, что хотите удалить группу клиентов {{ object }}?<br>
					<hr>
					<button type="submit" class="btn badge-danger">
						Уверен
					</button>
					<a href="{% url 'mailing:clients' %}" class="btn badge-light">Отмена</a>
				</form>
			</div>
		</div>
	</div>
{% endblock %}