{% extends 'mailing/base.html' %}

{% block content %}
	<div class="col-8">
		{% if not is_moderator %}
			<a href="{% url 'mailing:mailing_create' %}" class="btn btn-success" style="width: 100%">
				Создать настройки рассылки
			</a>
		{% else %}
			<div style="background-color: darkred; text-align: center; width: 100%;">
				<p style="margin: 0; padding: 7px; color: white;">Режим модератора</p>
			</div>
		{% endif %}
	</div>
	<div class="col-8"><br></div>
	<div class="col-8">
		<div style="background-color: lightgrey; padding: 20px 20px; text-align: left; height: 20px;"></div>
	</div>
	<div class="col-8"><br></div>
	<div class="col-8">
		<div class="row">
			{% for item in object_list %}
				<div class="col-6">
					<div class="card">
						<div class="card-header text-center badge-primary">Условия рассылки #{{ item.pk }}</div>
						<div class="card-body">
							<table class="table">
								<tr>
									<td>Время</td>
									<td>{{ item.time|date:"H:i" }}</td>
								</tr>
								<tr>
									<td>Период</td>
									<td>{{ item.get_period_display }}</td>
								</tr>
								<tr>
									<td>Статус</td>
									<td>{{ item.get_status_display }}</td>
								</tr>
								<tr>
									<td>Сообщение</td>
									<td>{{ item.message }}</td>
								</tr>
								<tr>
									<td>Группа</td>
									<td>
										{% for group in item.groups.all %}
											{{ group.name }}{% if not forloop.last %},<br> {% endif %}
										{% empty %}
											Нет групп
										{% endfor %}
									</td>
								</tr>
							</table>
						</div>
						<div class="card-footer">
							<a href="{% url 'mailing:mailing_update' item.pk %}" class="btn badge-info">Изменить</a>
							<a href="{% url 'mailing:mailing_delete' item.pk %}" class="btn badge-danger">Удалить</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
