{% extends 'mailing/base.html' %}

{% block content %}
	<div class="col-4">
		<div class="card">
			<div class="card-header font-weight-boldh5 text-center badge-primary">
				Удалить рассылку
			</div>
			<div class="card-body">
				<form method="post">
					{% csrf_token %}
					Уверены, что хотите удалить рассылку "{{ object }}"?<br>
					<hr>
					<button type="submit" class="btn badge-danger">
						Уверен
					</button>
					<a href="{% url 'mailing:mailing_list' %}" class="btn badge-light">Отмена</a>
				</form>
			</div>
		</div>
	</div>
{% endblock %}