{% extends 'mailing/base.html' %}

{% block content %}
	<div class="col-8">
		<a href="{% url 'mailing:mailing_create' %}" class="btn btn-success" style="width: 100%">
			Создать сообщение рассылки
		</a>
	</div>

	<div class="col-8"><br></div>
	<div class="col-8">
		<div style="background-color: lightgrey; padding: 20px 20px; text-align: left; height: 150px;">
			<p><b>Сообщение рассылки</b> -- это тема и текст рассылки.<br>
				Сообщение должно быть добавлено в настройки рассылки.<br>
				После этого все клиенты рассылки получают электронное письмо с темой сообщения в теме письма и телом сообщения как текстом письма.</p>
		</div>
	</div>
	<div class="col-8"><br></div>

	<div class="col-8">
		<div class="row">
			{% for item in object_list %}
				<div class="col-6">
					<div class="card">
						<div class="card-header text-center badge-primary">Сообщение #{{ item.pk }}</div>
						<div class="card-body">
							<table class="table">
								<tr>
									<td>Тема</td>
									<td>{{ item.subject }}</td>
								</tr>
							</table>
						</div>
						<div class="card-footer">
							<a href="{% url 'mailing:messages_update' item.pk %}" class="btn badge-info">Изменить</a>
							<a href="{% url 'mailing:messages_delete' item.pk %}" class="btn badge-danger">Удалить</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
