{% extends 'mailing/base.html' %}

{% block content %}
	<div class="col-6">
		<div class="card">
			<div class="card-header text-center badge-primary">Клиенты рассылки</div>
			<div class="card-body">
				<ul class="list-unstyled">
					{% for item in object_list %}
						<li>
							{{ item }}
							<a class="float-sm-end btn-sm badge-danger"
							   href="{% url 'mailing:mailing_clients_toggle' mailing_pk item.pk %}">Убрать</a>
						</li>
						<br>
					{% endfor %}
				</ul>
			</div>
			<div class="card-footer">
				<a href="{% url 'mailing:mailing_list' %}" class="btn btn-info">Назад</a>
			</div>
		</div>
	</div>
	<div class="col-6">
		<div class="card">
			<div class="card-header text-center badge-primary">Клиенты для добавления</div>
			<div class="card-body">
				<ul class="list-unstyled">
					{% for item in clients %}
						<li>
							{{ item }}
							<a class="float-sm-end btn-sm badge-success"
							   href="{% url 'mailing:mailing_clients_toggle' mailing_pk item.pk %}">Добавить</a>
						</li>
						<br>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
{% endblock %}